{% extends 'base.html' %}

{% block main %}
<div class="container">
  <div class="product_form">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <p><input type="submit" value="Post"></p>
    </form>
  </div>
</div>
{% endblock %}
