{% extends 'base.html' %}

{% block main %}
<div class="container">
	<div class="product-image" style="float:left">
			<img src="{{ product.image.url }}" />
	</div>
			<div class="product-info">
				<p> This product is being sold by {{ product.user }}</p>
				<p> You can contact the seller on  {{ profile.seller_contact }}</p>
				<p> {{ product.name }} </p>
				<h1> {{ product.price_sign }} </h1>
				<p> {{ product.description }} </p>
				<p> {{ product.seller_info }} </p>
			</div>
</div>
{% endblock %}
