{% extends 'base.html' %}

{% block main %}

	<div id="wrapper">
		{% for product in products %}
		<div class="first_grid">
			<div class="product">
				<img src="{{ product.image.url }}">
				<div class="details">
					<p>{{ product.name }}</p>
					<p>Price:  {{ product.price_sign }}</p>
					<li>Free delivery</li>
					<p> <a href="{{ product.get_absolute_url }}"> Details </a></p>
					<a href="{% url 'products:cart' %}">Add to cart</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
		
{% endblock %}
