body {
background: #95a5a6;
}

body {
	background-color: lightgrey;
	margin: 0px;
	padding: 0px;
}

#wrapper {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 30% 30% 30%;
	column-gap: 30px;


	
}


.first_grid, .second_grid, .third_grid {
	width: 100%;
	height: 100%;
	margin: 10px;
}


.details {
	background-color: orange;
	width: 100%;
	float: left;
	border-radius: 5px;

}

.details li {
	list-style: none;
	margin: 0px;
}

img {
	width: 100%;
	height: 100%;
	overflow: hidden;

}

.details a {
	font-size: 12px;
	text-decoration: none;
	padding: 5px;
	font-family: Lucida Calligraphy;
	background-color: #0244;
	border-radius: 20px;
}
.details a:hover {
	background-color: lightblue;
	color: blue;
}

.details li{
	font-size: 14px;
	padding: 5px;
	line-height: 5px;
	
}

@media (max-width: 768px) {
	#wrapper {
		display: block;
	}

	.first_grid, .second_grid, .third_grid{
		margin: 0px;
		padding: 0px;
	
	}
}

@media (max-width:  320px) {
	#wrapper {
		display: block;
	}
}
