<!DOCTYPE html>
<html>
<head>
	<title> CartLock :: API Testing </title>
</head>
<body>

{% load static %}

<link rel="stylesheet" href="{% static '/css/base.css' %}">

<ul>
	<li><a href="{% url 'products:products' %}"> products </a></li>
	<li><a href="{% url 'products:cart' %}"> cart </a></li>
	<li><a href="{% url 'products:checkout' %}"> checkout </a></li>
</ul>

{% block main %}
{% endblock %}
</body>
</html>